:root {
  /* Variables para modo claro */
  --background-color: #ffffff; /* Cambia este valor */
  --text-color: #333333; /* Cambia este valor */
  --card-background: #f9f9f9; /* Cambia este valor */
  --card-border: #dddddd; /* Cambia este valor */
  --highlight-color: #0078d7; /* Cambia este valor */
  --hover-background: #e3e3e3; /* Cambia este valor */
}
.App.dark {
  /* Variables para modo oscuro */
  --background-color: #1e1e1e; /* Cambia este valor */
  --text-color: #f5f5f5; /* Cambia este valor */
  --card-background: #2a2a2a; /* Cambia este valor */
  --card-border: #444444; /* Cambia este valor */
  --highlight-color: #4fa9ff; /* Cambia este valor */
  --hover-background: #333333; /* Cambia este valor */
}

/* Reset global styles */
html, body {
  height: 100%; /* Asegura que html y body ocupen toda la altura */
  margin: 0;
  padding: 0;
}

body, .App {
  min-height: 100vh; /* Asegura que body y .App ocupen toda la altura */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 1; /* Asegura que .App ocupe el espacio restante */
}

* {
  box-sizing: border-box;
  outline: none;
}

/* Botón para alternar el tema */
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--highlight-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--hover-background);
}